html, body{
    height:100%;
    width:100%;
    overflow: hidden;
}
#app {
    height: 100%;
    width: 100%;
    font-family:"Microsoft YaHei",Arial,Helvetica,sans-serif,"宋体";
}
body{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
h1,h2,h3,h4,h5,h6 {
    font-size: 14px;
    font-weight: normal;
}
blockquote,body,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,hr,iframe,img,input,legend,li,ol,p,pre,td,textarea,th,ul,
div,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
a {
    color: #333;
    text-decoration: none;
}
ul,
ol {
    list-style: none;
}
input[type="text"],
input[type="search"],
textarea {
    border: none;
    outline: none;
    resize: none;
    -webkit-appearance: none;
}
/*::-webkit-scrollbar {*/
/*display: none;*/
/*width: 0;*/
/*height: 0;*/
/*}*/
.fl {
    float: left;
}
.fr {
    float: right;
}
.clearfix::before,
.clearfix::after {
    content: "";
    display: block;
    visibility: hidden;
    height: 0;
    line-height: 0;
    clear: both;
}